/*Head section*/


body,header, div,article,section, sidebar,nav,footer{
    display: block;
}

header{

}
header img {
    border-radius: 100%;
    width: 50px;
}

.search {
    display: flex;
    margin-bottom: 7px;
}
#searchInput {
    margin-left: 960px;
    border-radius: 40px;
    padding: 9px;
    border: 1px solid #000;
}


header nav {
    background: black;
    padding: 5px;
}


header ul {
    
}
header ul li {
    display: inline;
    padding: 20px;
    margin-right: 30px;
}
header ul li a {
    margin-right: 20px;
    text-decoration: none;
    color:#fff;
}

header ul li a:hover{
    color: green;
    font-size: 15px;
}
#main-section{
    display: flex;
    margin-top: 5px;
}
sidebar {
    border:1px solid black;
    background: darkgrey;
}

sidebar h2 {
    margin-left: 20px;
}

#menu{
    list-style: none;
    line-height: 30px;
}
#menu li a{
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

#menu li a:hover{
    text-shadow: 2px 2px 5px red;
}

.span:before{
    content: ' (';
}
.span:after{
    content: ')';
}

article{
    border: 1px solid #000;
    /*height: 60vh;*/
    width: 89%;
    margin-left: 5px;
    background: #6B6B6B;
    overflow: hidden;
}

#article-heading{
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 2px #000;
    font-size: 22px;
}

#article-img{
    background: url(../images/naijaSports.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;

}

#people{
    display: flex;
    margin-top: 7px;
 
}

.people{
    text-align: justify;
    margin-left: 13px;
    margin-right: 13px;
}
.people h3{
    text-decoration: underline;
    
}
.people p {
    border-right: 1px dashed #000;
    padding-right: 10px;
}

.people:hover{
    box-shadow: 3px 3px 1px #cfcfcf, -3px -3px 1px red;
    border-radius: 20px;
}

#remove{
    border: none;
}


