#main-section{
    display: flex;
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../images/gaze.jpg) center center no-repeat;
    background-size: 100%;
}
hr{
    width: 95%;
}

.other-info{
    width: 23%;
    margin-left: 55px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 13px;
    
}

button {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 10px;

}

.side-form{
    margin-left: 10px;
}

input{
    width: 60%;
    border: 5px solid #fff;
}
input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: #333;
}

input[type=email] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: #333;
}

textarea{
    border: 1px solid #888;
    outline: none;
    padding: 5px;
    width: 60%;
}