
body {
    margin-top: 30px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.icon > img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.mains {
    display: flex;
    background-color: #fff;
}

.head {
    background: #155970;
    color: #fff;
    height: 55px;
    width: 125%;
    position: relative;
    left: -30px;
}

.icon {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    line-height: 2px;
    text-align: left;
    padding: 9px 9px;
}

.txt {
    font-size: 22px;
    font-weight: bold;
    padding: 9px 2px;
    align-items: center;
    position: relative;
    top: 10px
}

.options {
    width: 100%;
    height: auto;
    position: relative;
    left: -18px;
}

.opt {
    list-style: none;
    padding-left: 3px;
}

li {
    color: #525252;
    cursor: pointer;
    display: block;
    line-height: 30px;
    font-size: 12px;
    padding-top: 6px;
}

li:hover {
    color: #e45a05;
}

.view-all {
    background-color: #d2d2d2;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    position: relative;
    left: -13px;
    width: 125%;
}

.view-all:hover {
    background-color: #155970;
    color: #fff;
}

.snika {
    position: relative;
    left: -47px;
}

.first {
    position: relative;
    left: -110px;
    padding: 0;
}

.second {
    position: relative;
    left: -109px;
}

.third {
    position: relative;
    left: -37px;
}

img:hover {
    box-shadow: 1px 1px 5px 0 rgba(193, 193, 193, 1);
}