body,header, div,article,section, sidebar,nav,footer{
    display: block;
}
#user-section{
    display: flex;
    margin-top: 5px;
    margin-left: 250px;
}



sidebar {
    border:1px solid black;
    background: darkgrey;
    width: 20%;
    height: 645px;
}

.propic{
    border: 2px solid #fcfcfc;
    height: 40px;
    width: 40px;
    position: relative;
    top: 45px;
    left: 38%;
}

.propic:before
{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fcfcfc;
    top: -9px;
    left: 29%;
    content: '';
    display: block;
    border-radius: 50%;
}

.but{
    padding: 10px;
}
.ana {
    position: relative;
    top: 114px;
    left: 36%;
}
.num{
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: white;
}

.num1{
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: white;
}

.num2{
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: white;
}
.name{
    padding-top: 171px;
}

.bottom-text{
    color: #fff;
    padding-top: 102px;
    padding-left: 62px;
}

.but span{
    color: #fff;
    font-size: 11px;
    font-family: fantasy;
    margin-left: -2px;
}

span{
    color: #fff;
    margin-left: 33px;
    font-size: 12px;
}
#image-side{
    background-image: url(../images/gaze.jpg)
}
aside{
    border: 1px solid #000;
    /*height: 60vh;*/
    width: 45%;
    margin-right: 5px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.p-text{
    text-align: center;
    font-family: cursive;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
    bottom: 100px;
}

.header-6{
    background: black;
    height: 50px;
    width: 30%;
    border-radius: 30px;
    margin-left: 150px;
    position: relative;
    bottom: 105px;
}
h6{
    text-align: center;
    padding-top: 17px;
    color: #fff;
    font-weight: normal;
   
}



